h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography {
  margin: 0;
}

.ant-form-item-explain-error {
  font-size: 0.875rem;
}

.ant-picker {
  width: 100%;
}

.ant-divider-horizontal {
  margin: 1rem 0;
}
