<div class="sidebar" *tuiSidebar="isOpen; direction: 'left'">
  <nav>
    <ul>
      <li
        fxLayout="row"
        fxLayoutAlign="center center"
        routerLink="/predictions"
        routerLinkActive="router-link-active"
        (click)="close.emit()"
      >
        Прогнозы
      </li>
      <li
        fxLayout="row"
        fxLayoutAlign="center center"
        routerLink="/championships"
        routerLinkActive="router-link-active"
        (click)="close.emit()"
      >
        Чемпионаты
      </li>
    </ul>
  </nav>
</div>
