rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /predictions/{documents=**} {
      allow read;
    }

    match /users/{user} {
      allow create, read;
    }
  }
}