:root {
  --tui-font-heading-1: bold 2.5rem var(--tui-font-heading);
  --tui-font-heading-2: bold 2rem var(--tui-font-heading);
  --tui-font-heading-3: bold 1.75rem var(--tui-font-heading);
  --tui-font-heading-4: bold 1.5rem var(--tui-font-heading);
  --tui-font-heading-5: bold 1.25rem var(--tui-font-heading);
  --tui-font-heading-6: bold 1rem var(--tui-font-heading);
}
