@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

header {
  @include shadow(1);
  height: 3.9375rem;

  .tui-text_h3 {
    margin: 0;
  }
}

.app-layout-wrapper {
  flex-grow: 1;
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
  width: 100%;
  max-width: 960px;
}

router-outlet {
  flex: none;
}
